

body {
  width: 960px;
  box-sizing: content-box;
  margin: auto;
  text-align: center;
}

div {
  border: 1px solid black;
}

.screen {
  margin: 5px 0;
}

img {
    width: 100px;
    height: 125px;
}

.childLeft{
  width: 45%;
  float: left;
}

.childRight{
  width: 45%;
  float: right;
}

.parent{
  overflow: hidden;
}
