

body {
  width: 960px;
  box-sizing: content-box;
  margin: auto;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

div {
  border: 1px solid black;
}

.screen {
  margin: 50px 0;
}

img {
    width: 100px;
    height: 125px;
}

.childLeft{
  width: 45%;
  float: left;
}

.childRight{
  width: 45%;
  float: right;
}

.parent{
  overflow: hidden;
}

.playOptions {
  display: flex;
  flex-direction: column;
}

button {
  height: 30px;
  width: 100px;
  color: white;
  background-color: skyBlue;
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
}

.statBar {
  background-color: blanchedAlmond;
}

.moneyBar, .energyBar, .foodBar {
  background-color: sandyBrown;
  height: 30px;
  color: white;
  font-size: 16px;
}

/*.moneyBar{
  width: 100%
}

.energyBar{
  width: 100%;
}*/

/*.foodBar{
  width: 100%;
}*/
