* {
  box-sizing: content-box;
}

html {
  background: url("../img/sky.jpg") no-repeat fixed center;
  background-size: cover;
}

body {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}

main {
  width: 60%;
  margin: 0 auto;
  padding: 40px;
}

.container {
  background-color: white;
  color: LightSlateGrey;
  border: 3px black solid;
  border-radius: 5px;
}

.hidden {
  display: none;
}

/*buttons styling*/
.bottomButtons, .homeButton {
  margin-bottom: 25px;
}

button {
  height: 40px;
  width: 130px;
  color: white;
  background-color: skyBlue;
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
}

/*dabar cia game-button*/
.game-button {
  background-color: DodgerBlue;
  color: white;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0px;
  margin-top: 15px;
}

.easyButton, .hardButton{
  margin: 5px;
}

button:focus {
  outline: 0;
}

button.playButtons:active{
  background: #76d6ff;
}

.playButton{
  margin-bottom: 30px;
}

/*image styling*/
img {
  width: 300px;
  height: 335px;
  padding-bottom: 15px;
}

.smallImg {
  width: 40px;
  height: 35px;
  position: absolute;
  margin-top: -10px;
  margin-left: -20px;
}

.bigImg {
  height: 150px;
  width: 130px;
}

.looseImg {
  width: 250px;
}

.winImg {
  width: 320px;
}

/*layout styling*/
.parent{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0px 50px;
}

.childLeft, .childRight{
  width: 43%;
  float: left;
  padding: 10px;
  margin: 8px;
}

.childRight{
  float: right;
}

.gameButton-text {
  padding-top: 7px;
}

.screen1parent{
  margin: 2px;
}

.screen {
  margin: 20px 0;
}

.section {
  margin: 50px 0;
}

/*status bar styling*/
.bar1, .bar2, .bar3 {
  padding: 5px 0;
}

.statusBar-parent {
  background-color: blanchedAlmond;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
}

.statusBar-child {
  background-color: sandyBrown;
  width: 100%;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  bottom: 0;
}

/*text styling*/
h1 {
  color: gold;
  font-family: Courier;
  text-shadow: -3px 3px 0px black;
}

h2 {
  padding: 20px;
}

.instructionsP {
  padding: 0 50px;
}

.winLooseResult {
  font-size: 24px;
  padding: 10px;
}

/*timer styling*/
.timer {
  color: orangeRed;
  background-color: black;
  border-radius: 22px;
  font-size: 32px;
  height: 40px;
  position: absolute;
  width: 85px;
}

.timer2 {
  margin: -20px 40px;
  left: 50%;
  transform: translateX(-100%);
}

.timerBackground{
  background-color: black;
  border-radius: 22px;
  height: 40px;
  position: absolute;
  width: 85px;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 1010px) {
  .childLeft, .childRight {
    width: 41%;
  }

  .buttonsAndBars{
    margin: 50px auto;
  }
}

@media (max-width: 875px) {
  main {
    width: 80%;
  }

  .buttonsAndBars{
    margin: 50px auto;
  }

  .childLeft, .childRight {
    width: 35%;
  }
}

@media (max-width: 750px) {
  .childLeft, .childRight {
    width: 90%;
  }

  .instructionsP {
    padding: 0;
  }
}

@media (max-width: 510px) {
  h1{
    text-shadow: -2px 2px 0px black;
    font-size: 28px;
  }
}

@media (max-width: 525px) {
  .section{
    padding: 2px;
  }

  h1{
    padding-top: 7px;
  }

  main {
    padding: 0;
  }

  h2 {
    padding: 0;
  }

  .parent {
    padding: 0px 25px;
  }

  .screen2, .screen3 {
    margin-top: 84px;
  }
}

@media (max-width: 415px) {
  .buttonsAndBars {
    margin: 0;
    padding: 0;
  }
  
  .playButtons{
    height: 45px;
  }

  .childLeft, .childRight {
    width: 88%;
  }

  .easyButton, .hardButton{
    margin: 5px;
  }

  .playButton{
    margin-bottom: 10px;
  }
}
